//@font-face {
//	font-family: 'myFont';
//	src: url('./my-font.woff2') format('woff2'),
//		url('./my-font.woff') format('woff');
//	font-weight: 600;
//	font-style: normal;
//}

$font-color: #333;

.hello {
	color: $font-color;
//	font-family: 'myFont';
	background: url('./profile_background.png');
}
